<div class="container mx-auto navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl"> 我的網站 </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a href="/address-book">通訊錄列表</a>
      </li>
      <li>
        <a href="/address-book/add">新增通訊錄</a>
      </li>
      <% if(session.admin){ %>
      <li>
        <a><%= session.admin.nickname %></a>
      </li>
      <li>
        <a href="/logout">登出</a>
      </li>
      <% } else { %>
      <li>
        <a class="<%= pageName=='login' ? 'active':'' %>" href="/login">登入</a>
      </li>
      <% } %>
      <li>
        <details class="my-theme-selector">
          <summary>
            場景配色
            <span id="currentTheme" class="badge badge-sm ml-1"></span>
          </summary>
          <ul class="bg-base-100 rounded-t-none p-2 w-32">
            <li><a href="#" onclick="changeTheme('retro')" data-theme="retro">
              <span class="theme-indicator retro"></span>retro
            </a></li>
            <li><a href="#" onclick="changeTheme('cupcake')" data-theme="cupcake">
              <span class="theme-indicator cupcake"></span>cupcake
            </a></li>
            <li><a href="#" onclick="changeTheme('dark')" data-theme="dark">
              <span class="theme-indicator dark"></span>dark
            </a></li>
            <li><a href="#" onclick="changeTheme('light')" data-theme="light">
              <span class="theme-indicator light"></span>light
            </a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
